<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
  <script>
    var IMP = window.IMP;
    IMP.init("imp10637376"); // 가맹점 식별코드

    IMP.request_pay(
      {
        pg: "uplus.tlgdacomxpay",
        pay_method: "card",
        merchant_uid: `test7`, // 주문 고유 번호
        name: "Quant",
        amount: 750,
        buyer_email: "gildong@gmail.com",
        buyer_name: "홍길동",
        buyer_tel: "010-4242-4242",
        buyer_addr: "서울특별시 강남구 신사동",
        buyer_postcode: "01181",
      },
      function (response) {
        if (response.success) {
          console.log(response);
        } else {
          console.log(response);
        }
      },
    );
  </script>
  <meta charset="UTF-8">
</head>
<body>
</body>
</html>
